server {
    listen   80;
    server_name <%= domain %> www.<%= domain %>;
    access_log /home/<%= domain %>/log/access.log;
    error_log /home/<%= domain %>/log/error.log;

    location / {
        root   /home/<%= domain %>/www;
        index  index.html;
    }
}

